<app-navbar></app-navbar>
<!-- Conteúdo Principal -->
<div class="container my-5">
  <div class="historia-container">
    <h1 class="text-center mb-4">Nossa História</h1>
    <p>
      <strong>Marcos Turismo – Mais do que uma viagem, uma experiência!</strong>
      <br/>
      A Marcos Turismo nasceu da ideia de unir um alto padrão de transporte
      aliado a uma experiência única e inesquecível. Com o empenho de uma
      equipe, somos guiados por um sonho: levar bem-estar, segurança e
      comodidade aos nossos clientes em cada quilômetro rodado. Nosso
      compromisso é oferecer conforto, praticidade e um atendimento de
      qualidade. Somos movidos pela paixão de transformar cada viagem em
      momentos que fiquem gravados na memória.
    </p>
    <p>
      Com uma frota moderna e equipada, nossos veículos são cuidadosamente
      selecionados e passam por manutenção constante, garantindo a
      tranquilidade e a segurança de nossos passageiros. Acreditamos que uma
      experiência de viagem deve ir além do simples deslocamento; deve ser
      uma jornada cheia de descobertas, alegria e conforto.
    </p>
    <p>
      Nossa equipe é formada por profissionais experientes e comprometidos
      em oferecer o melhor serviço. A excelência no atendimento é o que nos
      move a ir sempre além, buscando inovações que tornem cada viagem ainda
      mais especial.
    </p>
    <p class="fw-bold">
      Marcos Turismo – Transformando viagens em memórias inesquecíveis.
    </p>
  </div>

  <div class="missao-visao-valores">  
    <h2 class="mt-4">Missão</h2>
    <p>
      Proporcionar experiências de viagem únicas, seguras e confortáveis,
      com excelência em cada detalhe.
    </p>
  
    <h2 class="mt-4">Visão</h2>
    <p>
      Ser reconhecida como a melhor opção em transporte turístico, sendo
      referência em qualidade e inovação.
    </p>
  
    <h2 class="mt-4">Valores</h2>
    <ul>
      <li><strong>Compromisso com o cliente:</strong> Garantir qualidade, segurança e pontualidade em todos os serviços.</li>
      <li><strong>Excelência e Profissionalismo:</strong> Buscar melhoria contínua e investir na capacitação de nossos talentos.</li>
      <li><strong>Ética e Respeito:</strong> Agir com transparência, responsabilidade e empatia.</li>
    </ul>
  </div>
</div>

<div class="whatsapp-container">
  <span class="whatsapp-text"></span>
  <a href="https://wa.me/558791103345" target="_blank">
    <img src="whatsapp (1).png" alt="WhatsApp" class="whatsapp-icon">
  </a>
</div>

<!-- Rodapé -->
<footer class="bg-dark text-light text-center py-3">
  <small>&copy; Copyright 2025</small>
</footer>
