<nav class="navbar">
    <img src="logo.jpg" alt="Marcos Turismo" class="logo">
    <div class="menu-navbar">
      <a routerLink="/home" routerLinkActive="active">HOME</a>
      <a routerLink="/nossahistoria" routerLinkActive="active">SOBRE NÓS</a>
      <a routerLink="/frotas" routerLinkActive="active">NOSSA FROTA</a>
      <a href="https://wa.me/558791103345" target="_blank" rel="noopener noreferrer">ORÇAMENTO</a>
      <a routerLink="/historias" routerLinkActive="active">HISTÓRIAS</a>
      <a routerLink="/contato" routerLinkActive="active">CONTATO</a>
      <a (click)="navigateToAvaliacao()" routerLinkActive="active">CORPORATIVO</a>
    </div>
  </nav>
  