.card {
  background-color: #002f6c;
  color: white;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

input {
  width: 85%;
  padding: 8px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;

}
.input-container {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: flex-start;
}

.input-container label {
  margin-right: 20px; /* Ajuste o espaço entre o label e o input */
}

.input-container .input-number {
  width: 25%;
}


.adicional-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.adicional-item input {
  flex: 1;
}

.add-btn {
  background-color: white;
  color: black;
  font-size: 18px;
  width: 50px;               /* Aumentei para dar mais visibilidade */
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: fixed;           /* Fixa o botão na janela de visualização */
  bottom: 20px;              /* Distância do fundo da tela */
  right: 20px;               /* Distância da borda direita */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombrinha básica para destacar */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  transition: transform 0.3s ease;
}


.add-btn:hover {
  transform: scale(1.1);    /* Efeito suave ao passar o mouse */
}
.ad-btn {
  border-radius: 50%;
}
.trash-btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.add-btn {
  background-color: white;
  color: black;
  font-size: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.add-btn:hover {
  transform: scale(1.1);
}

.trash-btn {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px;
}

.veiculo-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 300px;
  overflow: hidden;
}

.veiculo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.veiculo-card .info {
  padding: 10px;
}
