<div class="main-layout" *ngIf="showLayout">

  <!-- TopBar visível só no Mobile -->
  <header class="topbar" *ngIf="isMobile">
    <button class="hamburguer-btn" (click)="sidebar.toggleSidebarFunction()">
      <i class="fas fa-bars"></i>
    </button>
    <span class="app-title">Marcos Turismo</span>
  </header>

  <app-sidebar #sidebar></app-sidebar>

  <div class="content" [class.expanded]="sidebar.isSidebarActive">
    <router-outlet></router-outlet>
  </div>

</div>

<!-- Para páginas sem layout (ex: Login) -->
<div *ngIf="!showLayout">
  <router-outlet></router-outlet>
</div>