<div class="container">
  <!-- Cabeçalho -->
  <div class="center">
    <h2>Avaliações Pendentes</h2>
  </div>
  <div class="subtitle">
    <h2>Todas as avaliações a serem validadas</h2>
  </div>

  <div *ngFor="let avaliacao of avaliacoes" class="card">
    <p>{{ avaliacao.titulo }} - {{ avaliacao.autor }}</p>
    <div class="botoes">
      <button class="confirmar" (click)="validarAvaliacao(avaliacao.id)">Validar</button>
      <button class="excluir" (click)="excluirAvaliacao(avaliacao.id)">Excluir</button>
    </div>
  </div>

  <!-- Cabeçalho -->
  <div class="center">
    <h2>Avaliações Válidas</h2>
  </div>
  <div class="subtitle">
    <h2>Avaliações validadas e mostradas no site</h2>
  </div>

  <div *ngFor="let avaliacao of avaliacoesValidas" class="card">
    <p>{{ avaliacao.titulo }} - {{ avaliacao.autor }}</p>
  </div>
</div>