.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 20px));
  margin: 20px auto;
  gap: 30px;
  justify-content: center;
  justify-items: center;
}

/* Estilo para o container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-direction: column; /* Para empilhar os itens na vertical */
}

/* Estilo para os cards de avaliação */
.card {
    background-color: #002f6c71;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 250px;
    margin: 10px 0;  /* Espaço entre os cards */
    color: white;
}

/* Estilo para os botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Espaçamento entre os botões e o conteúdo acima */
}

/* Botões de confirmar (validar) e excluir */
.confirmar, .excluir {
    font-size: 14px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

/* Estilo para o botão de confirmação (validar) */
.confirmar {
    background-color: #28a745;
    color: white;
}

/* Estilo para o botão de exclusão */
.excluir {
    background-color: #dc3545;
    color: white;
}

/* Efeito de hover para o botão de confirmação */
.confirmar:hover {
    background-color: #218838;
}

/* Efeito de hover para o botão de exclusão */
.excluir:hover {
    background-color: #c82333;
}

/* Estilo para o título das avaliações válidas */
h3 {
    text-align: center;
    color: #080808;
    margin-top: 30px;
    font-size: 30px;
}

/* Estilo para o título das avaliações válidas */
.autor {
    text-align: center;
    font-size: 13px;
font-weight: 400;
}

/* Estilo para as avaliações válidas */
div > div {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}


.estrelas {
  margin-top: 8px;
  font-size: 1.3rem;
}

.estrelas span {
  color: #555;
}

.estrelas .filled {
  color: gold;
}