<app-sidebar></app-sidebar>

<div class="container">
    <div class="card">
        <h2>Motorista: 
            <input type="text" placeholder="Digite o nome do motorista" [(ngModel)]="motorista">
        </h2>
        <p>Tipo de Serviço: 
            <select [(ngModel)]="tipoServico">
                <option value="excursao">Excursão</option>
                <option value="fretamento">Fretamento</option>
            </select>
        </p>
        <p>Data de Início: <input type="date" [(ngModel)]="dataInicio"></p>
        <p>Data de Volta: <input type="date" [(ngModel)]="dataVolta"></p>

        <div class="button-container">
            <button class="btn incluir" (click)="incluir()">Salvar</button>
            <button class="btn excluir" (click)="excluir()">Excluir</button>
        </div>
    </div>
</div>