<div class="container">
  <div class="login-box">
    <img src="logo.jpg" alt="Marcos Turismo" class="logo" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="login">Login:</label>
      <input type="text" id="login" formControlName="login" placeholder="Digite seu e-mail" />

      <label for="senha">Senha:</label>
      <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha" />

      <button type="submit" class="btn">
        <ng-container *ngIf="!enviando">Entrar</ng-container>
        <ng-container *ngIf="enviando">Carregando...</ng-container>
      </button>
    </form>
  </div>
</div>

<div class="snackbar" *ngIf="showSnackbar">
  ✅ Login feito com sucesso. Seja bem-vindo!
</div>

<div class="snackbar erro" *ngIf="mensagem">
  {{ mensagem }}
</div>