.container {
  background: linear-gradient(to right, #022669c4, #886a10be);
  background-size: cover;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
height: 100vh;
  display: flex;
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 300px;
}

.logo {
  width: 160px;
  margin-bottom: 20px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}