<app-navbar></app-navbar>

<section class="header">
  <h1>Viajar é colecionar momentos, expandir horizontes e descobrir que o mundo é muito maior do que os olhos podem ver.</h1>
</section>



<section class="testimonials">
  <div class="card" *ngFor="let avaliacao of avaliacoesValidas">
    <h3>{{ avaliacao.titulo }}</h3>
    <p><strong>{{ avaliacao.autor }}</strong></p>
    <p>{{ avaliacao.descricao }}</p>
    <div class="rating">
      <span *ngFor="let star of stars; let i = index" 
            [class.active]="avaliacao.nota >= (i + 1)">
        ★
      </span>
    </div>
    <!-- Aqui a formatação DD/MM/YYYY -->
    <p><strong>Data: </strong>{{ avaliacao.dataPublicacao | date:'dd/MM/yyyy' }}</p>
    <div *ngIf="avaliacao.foto">
      <img [src]="avaliacao.foto" alt="Foto da avaliação" />
    </div>
  </div>
</section>


<section class="avaliacao-novo">
  <h2>💬 Avalie sua experiência</h2>
  <form (ngSubmit)="registrarAvaliacao()">
    <div class="campo-form">
      <label for="autor">Nome</label>
      <input id="autor" type="text" [(ngModel)]="avaliacao.autor" name="autor" required>
    </div>

    <div class="campo-form">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" [(ngModel)]="avaliacao.titulo" name="titulo" required>
    </div>

    <div class="campo-form">
      <label for="descricao">Comentário</label>
      <textarea id="descricao" rows="4" [(ngModel)]="avaliacao.descricao" name="descricao" required></textarea>
    </div>

    <div class="campo-form">
      <label>Nota</label>
      <div class="estrelas">
        <span *ngFor="let star of stars; let i = index"
              (click)="setRating(i + 1)"
              [class.ativa]="avaliacao.nota >= (i + 1)">★</span>
      </div>
    </div>

  

    <div class="botoes-avaliacao">
      <button type="submit" class="enviar">Enviar</button>
      <button type="button" class="cancelar" (click)="cancelarAvaliacao()">Cancelar</button>
    </div>
  </form>

  <!-- Mensagem de confirmação -->
  <div *ngIf="mensagem" [ngClass]="{'aviso-sucesso': tipoMensagem === 'sucesso', 'aviso-erro': tipoMensagem === 'erro'}">
    {{ mensagem }}
  </div>
</section>

<div class="whatsapp-container">
  <a href="https://wa.me/558791103345" target="_blank">
    <img src="whatsapp (1).png" alt="WhatsApp" class="whatsapp-icon">
  </a>
</div>

<!-- Rodapé -->
<footer class="bg-dark text-light text-center py-3">
  <small>&copy; Copyright 2025</small>
</footer>
