<nav class="navbar">
  <img src="/src/imagens/logo.jpg" alt="Marcos Turismo" class="logo">
  <div class="menu">
    <a href="/src/app/home/home.component.html">HOME</a>
    <a href="/src/app/Sobrenos/sobrenos.component.html">SOBRE NÓS</a>
    <a href="/src/app/Frota/frota.component.html">NOSSA FROTA</a>
    <a href="/src/app/historias/historias.component.html">HISTÓRIAS</a>
    <a href="https://wa.me/558791103345">CONTATO</a>
    <a href="/src/app/components/login/login.component.html">CORPORATIVO</a>
  </div>
  <img src="/src/imagens/user-icon.png" alt="Usuário" class="user-icon" width="40">
</nav>

<style>
  .navbar {
    background-color: #002F6C;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .menu {
    display: flex;
    gap: 15px;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .logo {
    width: 160px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .user-icon {
    margin-right: 30px;
  }
</style>








