/* ======================
   Estilos dos Cards
   ====================== */
   .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    margin-top: 100px;
    flex-wrap: wrap; /* Garante que os cards se ajustem ao espaço disponível */
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    background: rgba(200, 200, 200, 0.9);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    max-width: 300px;
    height: 150px;
    font-size: 1.8em;
    font-weight: bold;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* ======================
     Estilos do Carrossel
     ====================== */
  .carousel-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }
  
  .swiper {
    width: 80%;
    padding: 110px;
  }
  
  .swiper-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .swiper-slide {
    text-align: center;
    position: relative;
    flex-shrink: 0;
    transform: none;
  }
  
  .image-container {
    width: 100%;
    max-width: 250px;
    margin: auto;
    position: relative;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* ======================
     Estilos do WhatsApp
     ====================== */
  .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .whatsapp-text {
    font-size: 14px;
    font-weight: bold;
    color: #25D366;
  }
  
  .whatsapp-icon {
    width: 60px;
    height: 60px;
  }
  
  /* ======================
     Media Queries
     ====================== */
  @media (max-width: 1024px) {
    .cards-container {
      justify-content: space-around;
    }
  
    .card {
      max-width: 280px;
      padding: 50px;
      font-size: 1.6em;
    }
  }
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      max-width: 300px;
      padding: 40px;
      font-size: 1.5em;
    }
  
    .swiper {
      width: 100%;
      padding: 40px;
    }
  
    .whatsapp-container {
      width: 100%;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .cards-container {
      gap: 15px;
      padding: 10px;
    }
  
    .card {
      padding: 30px;
      font-size: 1.4em;
      width: 90%;
    }
  
    .whatsapp-container {
      bottom: 10px;
      right: 10px;
    }
  }
  