<app-navbar></app-navbar>

<!-- Hero Section -->
<div class="hero-section">
  <h1>"Cada viagem é uma nova história. Vamos escrevê-la juntos!"</h1>
  <p>Viaje com conforto e segurança. Explore nossos pacotes e solicite um orçamento agora mesmo!</p>
  <div class="cta-buttons">
    <a routerLink="/excursoes2" class="btn">Excursões</a>
    <a href="https://wa.me/558791103345" target="_blank" class="btn whatsapp">Solicitar Orçamento</a>
  </div>
</div>

<!-- WhatsApp Button -->
<div class="whatsapp-container">
  <a href="https://wa.me/558791103345" target="_blank">
    <img src="whatsapp (1).png" alt="WhatsApp" class="whatsapp-icon">
  </a>
</div>


<!-- Rodapé -->
<footer class="bg-dark text-light text-center py-3">
  <small>&copy; Copyright 2025</small>
</footer>

